# macOS
.DS_Store

# Xcode
xcuserdata/
.DS_Store
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Swift Package Manager
## This is the manifest file for Swift Package Manager
Package.resolved
